/* Coded with love by Mutiullah Samim */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("/static/imagenes/fondo_nuevo.jpg");
}



.btn-danger.custom-btn {
	background-color: #678181;
	border-color: #678181;
  color: white;
}


.btn-warning.custom-btn2 {
	background-color: #2e5359;
	border-color: #2e5359;
  color: white;
}
.btn-warning.custom-btn3 {
	background-color: #315c65;
	border-color: #315c65;
  color: white;
}

.btn-success.custom-grafico {
  background-color: #678181;
	border-color: #678181;
  color: white;
}

.btn-warning.custom-btnmante {
	background-color: #013a4d;
	border-color: #013a4d;
  color: white;
}

.html_login{
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Numans', sans-serif;

  background-image: url("/static/imagenes/fondo_nuevo.jpg");
}

.activo {
  text-decoration: underline;
  background-color:##e65d3f;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: rgb(230, 93, 63);
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: rgb(230, 93, 63);
color: white;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: white;
background-color: rgb(230, 93, 63);
width: 100px;
}

.login_btn:hover{
color: white;
background-color: rgb(230, 93, 63);
}

.links{
color: white;
}



.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #c0392b !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f0f0f0;
}

li.ancho_barra {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* li a:hover:not(.active) {
  background-color: #f0f0f0;
} */

.active {
  background-color: #ffc107;
  /* background-color: #c0392b; */
}

.col-menu {
  background-color: #f0f0f0;
}

.cuerpo {
  padding-top: 23px;
}
}

/*  */
