
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Bitacora Banco Chilew</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/template.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-4/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-4/fontawesome/css/all.css') }}">

  <script type="text/javascript" src="/static/bootstrap-4/js/jquery.min.js"></script>

  <script type="text/javascript" src="/static/js/funciones.js"></script>

  <script type="text/javascript" src="/static/bootstrap-4/js/popper.min.js"></script>

  <script type="text/javascript" src="/static/bootstrap-4/js/bootstrap.min.js"></script>

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"><!-- ICONOS -->

  <script type="text/javascript" src="/static/bootstrap-4/js/moment.min.js"></script>

  <script type="text/javascript" src="/static/bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>

  <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}">

  <script type="text/javascript" src="/static/bootstrap-4/js/es.js"></script>

  <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-4/css/jquery.dataTables.min.css') }}">

  <script type="text/javascript" src="/static/bootstrap-4/js/jquery.dataTables.min.js"></script>

  <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-4/css/daterangepicker.css') }}">

  <script type="text/javascript" src="/static/bootstrap-4/js/daterangepicker.min.js"></script>

  <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-4/css/bootstrap-select.min.css') }}">

  <script type="text/javascript" src="/static/bootstrap-4/js/bootstrap-select.min.js"></script>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.min.css">

  <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.1/i18n/jquery-ui-i18n.min.js"></script> -->

  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" /> -->



</head>

<body>

  {% block content %}

  {% endblock %}
</body>
